<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.framework.common.dao.customize.mapper.CustomizeSysNoMapper">

    <!-- 生成系统单号 -->
    <select id="generateNo" parameterType="string" resultType="string">
        select ${rule}
    </select>
</mapper>