<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.framework.common.dao.auto.mapper.SysNoRuleMapper">
    <!-- 字段列表 -->
    <sql id="sys_no_rule_col">
        id, code, description, rule, prefix_rule, suffix_rule, valid, create_user, create_time, modify_user, modify_time, memo 
    </sql>

    <!-- 分页查询前缀 -->
    <sql id="pagePrefix">
        select * from (
    </sql>

    <!-- 分页查询后缀 -->
    <sql id="pageSuffix">
        ) vv
        <if test="startRow != null and pageSize != null">
            limit ${startRow}, ${pageSize}
        </if>
    </sql>


    <!-- 新增 -->
    <insert id="insertSysNoRule" parameterType="cn.framework.common.dao.auto.entity.SysNoRuleEntity"
            useGeneratedKeys="true" keyProperty="id">
        insert into sys_no_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="rule != null">
                rule,
            </if>
            <if test="prefix_rule != null">
                prefix_rule,
            </if>
            <if test="suffix_rule != null">
                suffix_rule,
            </if>
            <if test="valid != null">
                valid,
            </if>
            <if test="create_user != null">
                create_user,
            </if>
            <if test="create_time != null">
                create_time,
            </if>
            <if test="modify_user != null">
                modify_user,
            </if>
            <if test="modify_time != null">
                modify_time,
            </if>
            <if test="memo != null">
                memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="code != null">
                #{code},
            </if>
            <if test="description != null">
                #{description},
            </if>
            <if test="rule != null">
                #{rule},
            </if>
            <if test="prefix_rule != null">
                #{prefix_rule},
            </if>
            <if test="suffix_rule != null">
                #{suffix_rule},
            </if>
            <if test="valid != null">
                #{valid},
            </if>
            <if test="create_user != null">
                #{create_user},
            </if>
            <if test="create_time != null">
                #{create_time},
            </if>
            <if test="modify_user != null">
                #{modify_user},
            </if>
            <if test="modify_time != null">
                #{modify_time},
            </if>
            <if test="memo != null">
                #{memo},
            </if>
        </trim>
    </insert>

    <!-- 删除 -->
    <delete id="deleteSysNoRule" parameterType="integer">
        delete from sys_no_rule where id = #{id}
    </delete>

    <!-- 更新 -->
    <update id="updateSysNoRule" parameterType="cn.framework.common.dao.auto.entity.SysNoRuleEntity">
        update sys_no_rule
        <set>

            <if test="code != null and code != ''">code = #{code},</if><!-- 单号代码 -->
            <if test="description != null and description != ''">description = #{description},</if><!-- 单号描述 -->
            <if test="rule != null and rule != ''">rule = #{rule},</if><!-- 生成规则 -->
            <if test="prefix_rule != null and prefix_rule != ''">prefix_rule = #{prefix_rule},</if><!-- 前缀规则 -->
            <if test="suffix_rule != null and suffix_rule != ''">suffix_rule = #{suffix_rule},</if><!-- 后缀规则 -->
            <if test="valid != null and valid != ''">valid = #{valid},</if><!-- 是否有效 -->


            <if test="modify_user != null and modify_user != ''">modify_user = #{modify_user},</if><!-- 修改人 -->

            <if test="memo != null and memo != ''">memo = #{memo},</if><!-- 备注 -->
            modify_time = sysdate() <!-- 修改时间 -->
        </set>
        where id = #{id}
    </update>

    <!-- 根据id查询 -->
    <select id="selectSysNoRuleById" parameterType="integer"
            resultType="cn.framework.common.dao.auto.entity.SysNoRuleEntity">
        select
        <include refid="sys_no_rule_col"/>
        from sys_no_rule where id = #{id}
    </select>

    <!-- 根据条件查询列表 -->
    <select id="getSysNoRules" parameterType="cn.framework.common.dao.auto.entity.SysNoRuleEntity"
            resultType="cn.framework.common.dao.auto.entity.SysNoRuleEntity">
        <include refid="pagePrefix"/>
        select
        <include refid="sys_no_rule_col"/>
        from sys_no_rule
        <where>
            <if test="id != null and id != ''">and id = #{id}</if><!-- 主键 -->
            <if test="code != null and code != ''">and code = #{code}</if><!-- 单号代码 -->
            <if test="description != null and description != ''">and description = #{description}</if><!-- 单号描述 -->
            <if test="rule != null and rule != ''">and rule = #{rule}</if><!-- 生成规则 -->
            <if test="prefix_rule != null and prefix_rule != ''">and prefix_rule = #{prefix_rule}</if><!-- 前缀规则 -->
            <if test="suffix_rule != null and suffix_rule != ''">and suffix_rule = #{suffix_rule}</if><!-- 后缀规则 -->
            <if test="valid != null and valid != ''">and valid = #{valid}</if><!-- 是否有效 -->
            <if test="create_user != null and create_user != ''">and create_user = #{create_user}</if><!-- 创建人 -->
            <if test="create_time_sta != null">and create_time <![CDATA[>=]]> #{create_time_sta}</if><!-- 创建时间 -->
            <if test="create_time_end != null">and create_time <![CDATA[<=]]> #{create_time_end}</if><!-- 创建时间 -->
            <if test="modify_user != null and modify_user != ''">and modify_user = #{modify_user}</if><!-- 修改人 -->
            <if test="modify_time_sta != null">and modify_time <![CDATA[>=]]> #{modify_time_sta}</if><!-- 修改时间 -->
            <if test="modify_time_end != null">and modify_time <![CDATA[<=]]> #{modify_time_end}</if><!-- 修改时间 -->
            <if test="memo != null and memo != ''">and memo = #{memo}</if><!-- 备注 -->
        </where>
        <include refid="pageSuffix"/>
    </select>

    <!-- 根据条件查询数量 -->
    <select id="getSysNoRulesCount" parameterType="cn.framework.common.dao.auto.entity.SysNoRuleEntity"
            resultType="Integer">
        select count(1) from sys_no_rule
        <where>
            <if test="id != null and id != ''">and id = #{id}</if><!-- 主键 -->
            <if test="code != null and code != ''">and code = #{code}</if><!-- 单号代码 -->
            <if test="description != null and description != ''">and description = #{description}</if><!-- 单号描述 -->
            <if test="rule != null and rule != ''">and rule = #{rule}</if><!-- 生成规则 -->
            <if test="prefix_rule != null and prefix_rule != ''">and prefix_rule = #{prefix_rule}</if><!-- 前缀规则 -->
            <if test="suffix_rule != null and suffix_rule != ''">and suffix_rule = #{suffix_rule}</if><!-- 后缀规则 -->
            <if test="valid != null and valid != ''">and valid = #{valid}</if><!-- 是否有效 -->
            <if test="create_user != null and create_user != ''">and create_user = #{create_user}</if><!-- 创建人 -->
            <if test="create_time_sta != null">and create_time <![CDATA[>=]]> #{create_time_sta}</if><!-- 创建时间 -->
            <if test="create_time_end != null">and create_time <![CDATA[<=]]> #{create_time_end}</if><!-- 创建时间 -->
            <if test="modify_user != null and modify_user != ''">and modify_user = #{modify_user}</if><!-- 修改人 -->
            <if test="modify_time_sta != null">and modify_time <![CDATA[>=]]> #{modify_time_sta}</if><!-- 修改时间 -->
            <if test="modify_time_end != null">and modify_time <![CDATA[<=]]> #{modify_time_end}</if><!-- 修改时间 -->
            <if test="memo != null and memo != ''">and memo = #{memo}</if><!-- 备注 -->
        </where>
    </select>
</mapper>